#proficiencies{
  text-align: center;
}

#profLists {
  justify-content: space-between;
  display: flex;
  padding: 0;
  border: 2px solid var(--main);
  border-radius: 8px;
}

#profLists > div{
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}

#profLists h3{
  border-radius: 8px;
  margin-top: 0.4rem;
  margin-bottom: 2rem;
}

  #frameworksCont{
  border-style: none solid; 
  border-color: var(--main);
  border-width: 2px;
}

#lstLanguages, #lstFrameworks, #lstTools{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#proficiencies img{
  width: 90px;
  margin: 1rem;
}

/* Media Queries */
@media (max-width: 640px){
        #profLists {
    flex-direction: column;
    gap: 2rem;
  }
#frameworksCont{
  border-style: solid none; 
  border-color: var(--main);
  border-width: 2px;
}
}