#about {
  text-align: center;
  position: relative;
}

#about img{
  display: block;
  margin: 20px auto;
  margin-bottom: 1.875rem;
  width: 300px;
  position: relative;
  border: 5px solid var(--main);
  border-radius: 50%;
}

#about h2{
  width: 25%;
  border-bottom: 4px solid var(--main);
  padding-bottom: .80rem;
  margin: 10px auto;
}

#about h3{
  margin-bottom: 2rem;
}

.intro{
  margin-bottom: 1.5rem;
}

.details {
  text-align: left;
  max-width: 800px;
  margin: 0 auto 1rem auto; /* centers the block while keeping text left-aligned */
}

/* Media Queries */
@media (max-width: 640px) {
  #about img{
  display: block;
  margin: 10px auto;
  margin-bottom: 1.875rem;
  width: 50%;
  position: relative;
  border: 5px solid var(--main);
  border-radius: 50%;
}
}