*{
    box-sizing: border-box;
}


header {

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--main);
  color: var(--text-light);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 10px red;
}

nav{
    background-color:var(--main);
    color: white;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-size: x-large;
    gap: 1rem;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: var(--accent);
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 640px){
   header {
    flex-direction: column;
  }

  nav {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  nav li {
    margin: 0.5rem 0;
  }
}
