#contact {
  text-align: center;
}

#contact-icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link{
  width: 120px;
  margin: 0 2rem;
  display: inline-block;
}

.link a{
  display: block;
  width: 100%;
}

.link img{
  border: 3px solid var(--main);
  border-radius: 15px;
  padding: 5px;
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 2rem auto;
}

#contactForm label {
  font-weight: bold;
}

#contactForm input,
#contactForm textarea {
  padding: 0.5rem;
  border: 2px solid var(--main);
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

#contactForm button {
  background-color: var(--main);
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

#contactForm button:hover {
  background-color: #5e00c0; /* example hover color */
}